<!DOCTYPE html>
<html lang="es">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Login</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
      <style>
        .content-title{
          color: blue;
        }
        .error {
          color: red;
          margin: 0px auto;
          display: table;
          background-color: #12121232;
          padding: 10px;
          border-radius: 7px;
        }
      </style>
  </head>
  <body>
    <%- include("loginForm.ejs") %>
    <h4 class="error"><%= typeof error != 'undefined' ? error : '' %></h4>
    <% if(typeof action != 'undefined' && action == 'logout'){ %>
      <script>
          document.cookie = 'user' +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
      </script>
    <% } %>
  </body>
</html>