<div class="container mt-3">
    <div class="jumbotron">
        <h2 class="content-title">Login de Usuario</h2>
        <form action="login" method="POST">
          <div class="form-group">
            <label for="exampleInputEmail1">Ingrese su nombre</label>
            <input type="text" name="nombre" class="form-control" id="input-nombre" placeholder="Nombre de usuario">
            <label for="exampleInputEmail1">Ingrese su Password</label>
            <input type="password" name="password" class="form-control" id="input-password" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </br>
      <a href="/registro" class="btn btn-warning btn-lg right" role="button">Registro</a>
    </div>
  </div>
  